<div class="container" style="width: 778; margin-top: 20px;margin-left: 30px;">
    <br>
    <h3 style="color: blueviolet; text-align: center; width: 870px;"><strong>Full Stack with Angular 18 Material Spring Boot & MySQL</strong></h3>
    <br>
    <mat-form-field style="width: 175px;">
        <input matInput placeholder="Enter name" [(ngModel)]="candidate.name" type="text">
        <mat-icon fontIcon="person" matSuffix></mat-icon>
    </mat-form-field>
    <mat-form-field style="width: 175px; margin-left: 15px;">
        <input [(ngModel)]="candidate.email" matInput placeholder="Enter email" type="text">
        <mat-icon fontIcon="email" matSuffix></mat-icon>
    </mat-form-field>
    <mat-form-field style="width: 175px; margin-left: 15px;">
        <input [(ngModel)]="candidate.address" matInput placeholder="Enter address" type="text">
        <mat-icon fontIcon="address" matSuffix></mat-icon>
    </mat-form-field>

    <button mat-flat-button (click)="addOrEditCandidate(candidate)" style="margin-left: 25px;">Submit</button>
    <button mat-flat-button (click)="clearAll()" style="margin-left: 10px;" color="warn">Cancel</button>
<br><br>

    <mat-form-field style="width: 200px;">
        <input (input)="searchCandidate(filter.value)" matInput placeholder="Search candidate" type="text" #filter>
        <mat-icon fontIcon="search" matSuffix></mat-icon>
    </mat-form-field>
<br>

<table style="width: 778px;" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidate ID </th>
      <td mat-cell *matCellDef="let candidate"> {{candidate.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let candidate"> {{candidate.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let candidate"> {{candidate.email}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
      <td mat-cell *matCellDef="let candidate"> {{candidate.address}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
        <td mat-cell *matCellDef="let candidate"><button style="height: 27px; width: auto;" (click)="populateFormFields(candidate)" mat-flat-button>Edit</button></td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
        <td mat-cell *matCellDef="let candidate"><button style="height: 27px; width: auto;" (click)="deleteCandidate(candidate.id)" color="warn"  mat-flat-button>Delete</button></td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let candidates; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements">
</mat-paginator>
  
  

</div>
